@model Gomsle.App.Features.Error.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
   
<section>
    <h2>Ooooops, something went really bad! :(</h2>
    <p>
        @if (Model != default && !string.IsNullOrEmpty(Model.Error)) {
            <strong>@Model.Error</strong>
        }

        @if (Model != default &&!string.IsNullOrEmpty(Model.Description)) {
            <small>@Model.Description</small>
        }
    </p>
    <div class="actions">
        @Html.ActionLink("Return to login", "login", "account")
    </div>
</section>